:root{
    /*Color palette*/
    --gray: #D8E3E7;
    --light-ocean: #51C4D3;
    --ocean: #126E82;
    --deep-ocean: #132C33;
}

/* Nav */
.is-ocean-inverted, .is-ocean-inverted:active{
    background-color: white !important;
    color: var(--ocean) !important;
}
.is-ocean-inverted:hover {
    background-color: var(--ocean) !important;
    color: white !important;
}
.is-ocean, .is-ocean:active{
    background-color: var(--ocean) !important;
    color: white !important;
}
.is-ocean:hover{
    background-color: var(--deep-ocean) !important;
}

/* Tab */
.is-ocean-background{
    background-color: var(--ocean);
}

/* Pub Input*/
.is-gray{
    background-color: white !important;
    color: gray !important;
    border: 1px solid gray !important;
}
.is-gray:hover {
    background-color: #eeeeee !important;
    color: gray !important;
    border: 1px solid gray !important;
}
.mt-custom {
    margin-top: 0.20rem;
}

/* Publication */
.is-light-ocean, .is-light-ocean:active {
    background-color: var(--light-ocean) !important;
    color: white !important;
}
.is-light-ocean:hover {
    background-color: var(--ocean) !important;
}
.dis-button {
    background-color: var(--ocean) !important;
    color: white !important;
}

/* Communities & Leader Nav */
.is-bg-white{
    background-color: transparent !important;
}
.is-bg-white:hover {
    background-color: #eeeeee !important;
}
.color-header {
    border-radius: 0.25rem 0.25rem 0 0 !important;
    background-color: var(--ocean);
    color: white !important;
}
.content-border {
    border: 1px solid var(--light-ocean);
}

/* Head Board*/
.back-gradient {
    background-image: linear-gradient(141deg, var(--deep-ocean) 0%, var(--light-ocean) 71%, var(--deep-ocean) 100%) !important;
}

/* Board */
.is-deep-ocean, .is-deep-ocean:active{
    background-color: var(--deep-ocean) !important;
    color: white !important;
}
.is-deep-ocean:hover{
    background-color: var(--light-ocean) !important;
}
.is-gray-reaction, .is-grey-reaction:active{
    border-radius: 0;
    background-color: var(--gray) ;
    color: var(--ocean) !important;
}
.is-gray-reaction:hover {
    background-color: #c8d0d3;
}
.is-light-ocean-tag {
    background-color: var(--light-ocean) !important;
    color: white !important;
}
.is-blue-ocean-tag {
    background-color: var(--ocean) !important;
    color: white !important;
}
.is-deep-ocean-tag {
    background-color: var(--deep-ocean) !important;
    color: white !important;
}

/* Comment Unit */
.border-comment {
    border-radius: 15px !important;
}

.border-card {
    border-radius: 0.25rem !important;
}