/* Nav */
.is-ocean-inverted, .is-ocean-inverted:active{
    background-color: white !important;
    color: #126E82 !important;
}
.is-ocean-inverted:hover {
    background-color: #126E82 !important;
    color: white !important;
}
.is-ocean, .is-ocean:active{
    background-color: #126E82 !important;
    color: white !important;
}
.is-ocean:hover{
    background-color: #132C33 !important;
}

/* Tab */
.is-ocean-background{
    background-color: #126E82;
}

/* Pub Input*/
.is-gray{
    background-color: white !important;
    color: gray !important;
    border: 1px solid gray !important;
}
.is-gray:hover {
    background-color: #eeeeee !important;
    color: gray !important;
    border: 1px solid gray !important;
}
.mt-custom {
    margin-top: 0.20rem;
}

/* Publication */
.is-light-ocean, .is-light-ocean:active {
    background-color: #51C4D3 !important;
    color: white !important;
}
.is-light-ocean:hover {
    background-color: #126E82 !important;
}
.dis-button {
    background-color: #126E82 !important;
    color: white !important;
}

/* Communities & Leader Nav */
.is-bg-white{
    background-color: transparent !important;
}
.is-bg-white:hover {
    background-color: #eeeeee !important;
}
.color-header {
    background-color: #126E82;
    color: white !important;
}
.content-border {
    border: 1px solid #51C4D3;
}

/* Head Board*/
.back-gradient {
    background-image: linear-gradient(141deg, #51C4D3 0%, #126E82 71%, #132C33 100%) !important;
}

/* Board */
.is-deep-ocean, .is-deep-ocean:active{
    background-color: #132C33 !important;
    color: white !important;
}
.is-deep-ocean:hover{
    background-color: #51C4D3 !important;
}
.is-gray-reaction, .is-grey-reaction:active{
    border-radius: 0;
    background-color: #D8E3E7 ;
    color: #126E82 !important;
}
.is-gray-reaction:hover {
    background-color: #c8d0d3;
}
.is-light-ocean-tag {
    background-color: #51C4D3 !important;
    color: white !important;
}
.is-blue-ocean-tag {
    background-color: #126E82 !important;
    color: white !important;
}
.is-deep-ocean-tag {
    background-color: #132C33 !important;
    color: white !important;
}

/* Comment Unit */
.border-comment {
    border-radius: 15px;
}